<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-todo-management" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>TodoManagement</name>
    <js-module name="TodoManagement" src="www/TodoManagement.js">
        <clobbers target="cordova.plugins.TodoManagement" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="TodoManagement">
                <param name="android-package" value="org.apache.cordova.todo.TodoManagement" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
        
        </config-file>

        <source-file src="src/android/TodoManagement.java" target-dir="src/org/apache/cordova/todo" />
        <source-file src="src/android/DatabaseHelper.java" target-dir="src/org/apache/cordova/todo" />
        <source-file src="src/android/Todo.java" target-dir="src/org/apache/cordova/todo/models" />

        <lib-file src="src/android/libs/gson-2.8.2.jar" />
    </platform>
        <!-- browser -->
    <platform name="browser">
        <js-module src="src/browser/TodoManagementProxy.js" name="TodoManagementProxy">
            <runs />
        </js-module>
    </platform>
</plugin>